body
{
	font-family: Arial,Helvetica,sans-serif;
}
h1
{
	color:black;
}
h3
{
	color:black;
}
h5
{
	color:black;
}
a{
	color:violet;
}

.footer {
	margin-top: 50px;
	font-size: 9px;
}

img {
    max-width: 70%;
    height: auto;
    width: auto\9; /* ie8 */
}

.header {
	font-size: 30px;
	text-align: left;
	vertical-align : baseline;
	bottom: 10px;
	min-height: 205px;
	padding-left: 250px;
	margin-bottom: 20px;
	background-image: url('../icons/Logo.png');
	background-repeat:no-repeat;
	background-color:white;
	border-bottom: 1px grey solid;
	position: relative;
}

.headerContent {
	font-size: 30px;
	text-align: left;
	position: absolute;
	bottom: 5px;
}

body{
	color:black;
}

a {
	color: black;
}
