<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="xstpapriv.ui.View"
            id="xstpapriv.view.contextTables"
            inject="true"
            name="%view.name.contextTables"
            restorable="true">
      </view>
   </extension>
   <extension
         point="xstampp.extension.stepEditors">
      <stepEditor
            editorId="xstpapriv.editor.context"
            icon="icons/logo.png"
            id="xstpapriv.stepEditor1"
            name="%stepEditor.name.contextTables"
            parentStep="stpapriv.navigation.step3_1">
      </stepEditor>
      <stepEditor
            editorId="xstpapriv.editor.ruca"
            icon="icons/ruca_logo2x16.png"
            id="xstpapriv.views.ruca"
            name="%stepEditor.name.RefinedUnsafeControlActions"
            parentStep="stpapriv.navigation.step3_1">
      </stepEditor>
      <stepEditor
            editorId="xstpapriv.editor.refinedSC"
            icon="icons/rsc_logox16.png"
            id="xstpapriv.stepEditor.RefinedSC"
            name="%stepEditor.name.RefinedSafetyConstraints"
            parentStep="stpapriv.navigation.step3_1">
      </stepEditor>
      <stepEditor
            editorId="xstpapriv.editor.basicScenarios"
            id="xstpapriv.stepEditor.basicScenarios"
            name="Basic Scenarios"
            parentStep="stpapriv.navigation.step3_1">
      </stepEditor>
      <stepEditor
            editorId="xstpapriv.editor.ltl"
            id="xstpapriv.stepEditor.ltl"
            name="LTL Tables"
            parentStep="stpapriv.category3">
      </stepEditor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="xstpapriv.settings.PreferencePageSettings"
            id="xstpapriv.preferences.choosePath"
            name="%page.name.XSTPA_Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="xstpapriv.ui.RefinedUCAView"
            default="false"
            icon="icons/ruca_logo2x16.png"
            id="xstpapriv.editor.ruca"
            name="%editor.name.Refined_Unsafe_Control_Actions">
      </editor>
      <editor
            class="xstpapriv.ui.RefinedSafetyConstraintsView"
            default="false"
            icon="icons/rsc_logox16.png"
            id="xstpapriv.editor.refinedSC"
            name="%editor.name.Refined_Safety_Constraints">
      </editor>
      <editor
            class="xstpa.ui.CSContextEditor"
            default="false"
            id="xstpapriv.editor.context"
            name="%editor.name.contextTables">
      </editor>
      <editor
            class="xstpapriv.ui.BasicScenariosTable"
            default="false"
            id="xstpapriv.editor.basicScenarios"
            name="Basic Scenarios">
      </editor>
      <editor
            class="xstpapriv.ui.ltl.LTLPropertiesTable"
            default="false"
            id="xstpapriv.editor.ltl"
            name="LTL Table">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="xstpapriv.settings.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
