<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2013, 2017 Lukas Balzer, Asim Abdulkhaleq, Stefan Wagner
    Institute of Software Technology, Software Engineering Group
    University of Stuttgart, Germany
     
    All rights reserved. This program and the accompanying materials are made
    available under the terms of the Eclipse Public License v1.0 which
    accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->

<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/branding/logox16.png">
         <run
               class="xstampp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="xstampp_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="xstampp.application"
            name="STAMP Platform">
         <property
               name="appName"
               value="STAMP Platform">
         </property>
         <property
               name="startupProgressRect"
               value="2,275,445,15">
         </property>
  <property
        name="windowImages"
        value="icons/branding/logox16.png,icons/branding/logox32.png,icons/branding/logox48.png,icons/branding/logox64.png,icons/branding/logox128.png">
  </property>
  <property
        name="aboutImage"
        value="icons/branding/logox128.png">
  </property>
  <property
        name="aboutText"
        value="XSTAMPP - An eXtensible STAMP Platform for Safety Engineering&#x0A;		 including the A-STPA, A-CAST, XSTPA, STPAPriv and STPASec Plugins&#x0A;&#x0A;©2014 - 2017&#x0A;http://www.iste.uni-stuttgart.de/se/werkzeuge/xstampp.html&#x0A;&#x0A;Lukas Balzer, Asim Abdulkhaleq, Stefan Wagner&#x0A;Institute of Software Technology, Software Engineering Group&#x0A;University of Stuttgart, Germany&#x0A;&#x0A;X-STPA &#x0A;http://www.iste.uni-stuttgart.de/se/werkzeuge/xstpa.html&#x0A;&#x0A;A-CAST&#x0A;http://www.iste.uni-stuttgart.de/se/werkzeuge/a-cast.html">
  </property>
  <property
        name="preferenceCustomization"
        value="plugin_customization.ini">
  </property>
      	</product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="xstampp.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="xstampp.Perspective"
            fixed="true"
            id="astpa.welcome.perspective"
            name="%perspective.name.welcome">
      </perspective>
      <perspective
            class="xstampp.DefaultPerspective"
            fixed="false"
            icon="icons/xstampp/logox32.png"
            id="xstampp.defaultPerspective"
            name="%perspective.name.standard">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="xstampp.category.views"
            class="xstampp.ui.welcome.WelcomeView"
            id="astpa.Welcome"
            name="%view.name.welcome"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="xstampp.category.views"
            class="xstampp.ui.navigation.ProjectExplorer"
            fastViewWidthRatio="0.2f"
            id="astpa.explorer"
            name="%view.name.explorer"
            restorable="true">
      </view>
      <view
            category="xstampp.category.views"
            class="xstampp.ui.HistoryView"
            icon="icons/buttons/historyView.png"
            id="xstampp.view.history"
            name="Undo/Redo history"
            restorable="true">
      </view>
      <category
            id="xstampp.category.views"
            name="XSTAMPP">
      </category>
   </extension>
   <extension
         name="window"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="%menu.name.file">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="%command.name.newProject"
                  style="push"
                  tooltip="%command.tooltip.newProject">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="xstampp.command.load"
                  label="%command.name.loadProject"
                  style="push"
                  tooltip="%command.tooltip.loadProject">
            </command>
            <separator
                  name="Separator 1"
                  visible="true">
            </separator>
            <command
                  commandId="astpa.save"
                  label="%command.name.save"
                  style="push">
            </command>
            <command
                  commandId="xstampp.saveall"
                  label="%command.name.saveAll"
                  style="push">
            </command>
            <command
                  commandId="astpa.saveas"
                  label="%command.name.saveas"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="%command.name.import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="%command.name.export"
                  style="push">
            </command>
            <separator
                  name="Separator 2"
                  visible="true">
            </separator>
            <command
                  commandId="astpa.switchworkspace"
                  id="xstampp.ui.menu.command.switchWS"
                  label="%command.name.switchworkspace"
                  style="pulldown"
                  tooltip="%command.tooltip.switchworkspace">
            </command>
            <command
                  commandId="xstampp.command.openPath"
                  label="%command.name.openWorkspace"
                  style="push">
               <parameter
                     name="xstampp.commandParameter.openFolder"
                     value="instance">
               </parameter>
            </command>
            <command
                  commandId="astpa.exit"
                  label="%command.name.exitPlatform"
                  style="push"
                  tooltip="%command.tooltip.exitPlatform">
            </command>
         </menu>
         <menu
               id="editMenu"
               label="%menu.name.edit">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  helpContextId="Opens the preference page"
                  label="%command.name.preferences"
                  style="push">
            </command>
         </menu>
         <menu
               id="projectMenu"
               label="%menu.name.project"
               tooltip="%menu.name.project.tooltip">
            <command
                  commandId="xstampp.command.openProjectSettings"
                  style="push"
                  tooltip="%command.tooltip.openProjectSettings">
            </command>
         </menu>
         <menu
               label="%menu.name.window">
            <command
                  commandId="org.eclipse.ui.window.switchToEditor"
                  label="%command.name.switchToEditor"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="%command.name.showView"
                  style="pulldown">
            </command>
            <separator
                  name="xstampp.separator1">
            </separator>
            <menu
                  label="%menu.name.navigation">
               <command
                     commandId="org.eclipse.ui.window.nextView"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ui.window.nextEditor"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ui.window.switchToEditor"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ui.window.previousView"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ui.window.previousEditor"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  label="%command.name.resetPerspective"
                  style="push">
            </command>
         </menu>
         <menu
               id="helpMenu"
               label="%menu.name.help">
            <command
                  commandId="Welcome"
                  label="%perspective.name.welcome"
                  style="push"
                  tooltip="%command.tooltip.showWelcome">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/xstampp/logox16.png"
                  id="x.ex.about"
                  label="%command.name.about"
                  style="push"
                  tooltip="%command.tooltip.showAbout">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  label="%command.name.helpContents"
                  style="push">
            </command>
            <command
                  commandId="xstampp.command.openPath"
                  label="%command.name.logPath"
                  style="push">
               <parameter
                     name="xstampp.commandParameter.openFolder"
                     value="log">
               </parameter>
            </command>
            <separator
                  name="xstampp.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.install"
                  label="%command.name.installNewSoftware"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  label="%command.name.searchForUpdate"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.installationDetails"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="xstampp.main.toolbar">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
            </command>
            <command
                  commandId="astpa.save"
                  style="push">
            </command>
            <command
                  commandId="xstampp.saveall"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  style="push">
            </command>
         </toolbar>
         <separator
               name="xstampp.toolbar"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:astpa.explorer">
         <command
               commandId="astpa.command.openStep"
               id="xstampp.explorer.menu.open"
               label="%command.name.open"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <instanceof
                        value="xstampp.ui.navigation.StepSelector">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="astpa.commands.rename"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <instanceof
                        value="xstampp.ui.navigation.ProjectSelector">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="astpa.save"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <instanceof
                        value="xstampp.ui.navigation.IProjectSelection">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="astpa.commands.delete"
               icon="icons/eclipse/delete_obj.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <instanceof
                        value="xstampp.ui.navigation.ProjectSelector">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               style="push">
         </command>
         <command
               commandId="xstampp.command.openPath"
               label="%command.name.openOutput"
               style="push">
            <parameter
                  name="xstampp.commandParameter.openFolder"
                  value="output">
            </parameter>
         </command>
         <command
               commandId="astpa.commands.expandAll"
               icon="icons/eclipse/collapseall2.gif"
               label="%command.name.collapseall"
               style="push">
            <parameter
                  name="xstampp.expand"
                  value="False">
            </parameter>
         </command>
         <command
               commandId="astpa.commands.expandAll"
               icon="icons/eclipse/expandall.gif"
               label="%command.name.expandall"
               style="push">
            <parameter
                  name="xstampp.expand"
                  value="True">
            </parameter>
         </command>
         <command
               commandId="xstampp.command.openProjectSettings"
               style="push"
               tooltip="%command.tooltip.openProjectSettings">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <instanceof
                        value="xstampp.ui.navigation.ProjectSelector">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="xstampp.command.project.closeProjectEditors"
               label="Close all Editors"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:astpa.explorer">
         <command
               commandId="astpa.commands.expandAll"
               icon="icons/eclipse/collapseall2.gif"
               label="%command.name.collapseall"
               style="push"
               tooltip="%command.name.collapseall">
            <parameter
                  name="xstampp.expand"
                  value="FALSE">
            </parameter>
         </command>
         <command
               commandId="astpa.commands.expandAll"
               icon="icons/eclipse/expandall.gif"
               label="%command.name.expandall"
               style="push"
               tooltip="%command.name.expandall">
            <parameter
                  name="xstampp.expand"
                  value="TRUE">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.window.preferences"
               style="push">
            <parameter
                  name="preferencePageId"
                  value="astpa.preferencePageColors">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="xstampp.toolbar.contribution.text">
            <control
                  class="xstampp.ui.workbench.contributions.TextToolbarContribution"
                  id="textContribution">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditor">
                     <instanceof
                           value="xstampp.ui.editors.interfaces.ITextEditor">
                     </instanceof>
                  </with>
               </visibleWhen>
            </control>
         </toolbar>
         <toolbar
               id="xstampp.toolbar.contribution.zoombar">
            <control
                  class="xstampp.ui.workbench.contributions.EditorContribution"
                  id="zoom.control">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditor">
                     <instanceof
                           value="xstampp.ui.workbench.contributions.IZoomContributor">
                     </instanceof>
                  </with>
               </visibleWhen>
            </control>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="xstampp.run.toolbar">
            <command
                  commandId="xstampp.command.run"
                  icon="icons/buttons/export/run.png"
                  id="xstampp.toolbar.run.menu"
                  style="push"
                  tooltip="%command.tooltip.exportAll">
            </command>
         </toolbar>
         <toolbar
               id="xstampp.toolbar.undoRedo">
            <command
                  commandId="xstampp.command.undo"
                  style="push">
            </command>
            <command
                  commandId="xstampp.command.redo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/buttons/historyView.png"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="xstampp.view.history">
               </parameter>
            </command>
         </toolbar>
         <toolbar
               id="xstampp.toolbar1">
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpSearch"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:xstampp.ui.menu.command.switchWS">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.command2">
         <toolbar
               id="xstampp.toolbar.user">
            <control
                  class="xstampp.usermanagement.ui.contribution.UserContribution"
                  id="xstampp.user.toolbar">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="xstampp.defaultPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="xstampp.ui.menu.file.commands.CommandState">
         <variable
               name="xstampp.ui.menu.file.commands.savestate"
               priorityLevel="workbench">
         </variable>
         <variable
               name="xstampp.ui.menu.file.commands.textstate"
               priorityLevel="workbench">
         </variable>
         <variable
               name="xstampp.ui.menu.file.commands.saveAllState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
      <sourceProvider
            provider="xstampp.util.service.UndoRedoService">
         <variable
               name="xstampp.util.service.canUndo"
               priorityLevel="workbench">
         </variable>
         <variable
               name="xstampp.util.service.canRedo"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="xstampp.ui.menu.file.commands.Save"
            commandId="astpa.save">
         <enabledWhen>
            <with
                  variable="xstampp.ui.menu.file.commands.savestate">
               <equals
                     value="ENABLED">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="xstampp.ui.menu.file.commands.SaveAll"
            commandId="xstampp.saveall">
         <enabledWhen>
            <with
                  variable="xstampp.ui.menu.file.commands.saveAllState">
               <equals
                     value="ENABLED">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="xstampp.util.RunExportCommand"
            commandId="xstampp.command.run">
         <enabledWhen>
            <with
                  variable="selection">
               <instanceof
                     value="xstampp.ui.navigation.IProjectSelection">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="xstampp.util.commands.UndoHandler"
            commandId="xstampp.command.undo">
         <enabledWhen>
            <with
                  variable="xstampp.util.service.canUndo">
               <equals
                     value="true">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="xstampp.util.commands.RedoHandler"
            commandId="xstampp.command.redo">
         <enabledWhen>
            <with
                  variable="xstampp.util.service.canRedo">
               <equals
                     value="true">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="xstampp.ui.menu.file.commands.OpenProjectSettings"
            commandId="xstampp.command.openProjectSettings">
         <enabledWhen>
            <with
                  variable="selection">
               <instanceof
                     value="xstampp.ui.navigation.IProjectSelection">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="xstampp.ui.menu.file.commands.CloseProjectEditors"
            commandId="xstampp.command.project.closeProjectEditors">
         <enabledWhen>
            <with
                  variable="selection">
               <instanceof
                     value="xstampp.ui.navigation.IProjectSelection">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>ler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="xstampp.ui.menu.file.commands.ExitApplication"
            id="astpa.exit"
            name="%command.name.exitPlatform">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.SaveAs"
            id="astpa.saveas"
            name="%command.name.saveas">
         <commandParameter
               id="saveAsProjectId"
               name="projectId"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="astpa.exportas"
            name="%command.name.exportAs">
      </command>
      <command
            id="astpa.save"
            name="%command.name.save">
         <commandParameter
               id="saveProjectId"
               name="projectId"
               optional="true">
         </commandParameter>
         <commandParameter
               id="xstampp.commands.params.doSaveAs"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.Import"
            id="xstampp.command.load"
            name="%command.name.import">
         <commandParameter
               id="loadRecentProject"
               name="recentProject"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.Welcome"
            id="Welcome"
            name="Welcome">
      </command>
      <command
            defaultHandler="xstampp.update.UpdateHandler"
            id="astpa.update"
            name="Update">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.AboutHandler"
            id="astpa.about"
            name="%command.name.about">
      </command>
      <command
            id="astpa.ExportUCATable"
            name="%command.name.exportTable">
      </command>
      <command defaultHandler="xstampp.ui.menu.file.commands.SwitchWorkspaceCommand"
            id="astpa.switchworkspace"
            name="Switch Workspace">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.Delete"
            id="astpa.commands.delete"
            name="%command.name.delete">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.RenameCommand"
            id="astpa.commands.rename"
            name="%command.name.renameProject">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.ExpandHandler"
            id="astpa.commands.expandAll"
            name="Expand All">
         <commandParameter
               id="xstampp.expand"
               name="expand"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.ToWorkbenchHandler"
            id="astpa.commands.toWorkbench"
            name="%command.name.toWorkbench">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.OpenStepEditor"
            id="astpa.command.openStep"
            name="Open ">
         <commandParameter
               id="xstampp.command.steps.open"
               name="refStepId"
               optional="true">
         </commandParameter>
         <commandParameter
               id="xstampp.ui.editor.selection.id"
               name="selection id"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="xstampp.saveall"
            name="%command.name.saveAll">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.OpenWizardHandler"
            id="xstampp.command.openWizard"
            name="%command.name.openWizard">
         <commandParameter
               id="xstampp.commandParameter.openwizard"
               name="wizard"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.editors.commands.StyleHandler"
            id="xstampp.command.style"
            name="%command.name.text.applyStyle">
         <commandParameter
               id="xstampp.commandParameter.style"
               name="style"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.editors.commands.FontChooserHandle"
            id="xstampp.command.choosefont"
            name="%command.name.text.chooseFont">
         <commandParameter
               id="xstampp.commandParameter.fontfamily"
               name="name"
               optional="true">
         </commandParameter>
         <commandParameter
               id="xstampp.commandParameter.fontsize"
               name="Choose the font size"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.editors.commands.ColorChooseHandle"
            id="xstampp.command.choosecolor"
            name="%command.name.text.chooseAColor">
         <commandParameter
               id="xstampp.commandParameter.color.type"
               name="name"
               optional="false">
         </commandParameter>
         <commandParameter
               id="xstampp.commandParameter.color.red"
               name="name"
               optional="true">
         </commandParameter>
         <commandParameter
               id="xstampp.commandParameter.color.green"
               name="name"
               optional="true">
         </commandParameter>
         <commandParameter
               id="xstampp.commandParameter.color.blue"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.editors.commands.TextBaselineHandler"
            id="xstampp.command.baseline"
            name="%command.name.text.setBaseline">
         <commandParameter
               id="xstampp.commandParameter.baseline"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.editors.commands.BulletListHandler"
            id="xstampp.command.addbulletlist"
            name="%command.name.addBulletList">
         <commandParameter
               id="xstampp.commandParameter.bulletlist"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="xstampp.command.run"
            name="%command.name.exportAll">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.SelectAllHandler"
            description="org.eclipse.ui.edit.selectAll + callback in StandartEditorPart"
            id="xstampp.ui.commands.selectAll"
            name="%command.name.selectAll">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.OpenPathHandler"
            id="xstampp.command.openPath"
            name="%command.name.openPath">
         <commandParameter
               id="xstampp.commandParameter.openFolder"
               name="path"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="xstampp.command.undo"
            name="Undo">
      </command>
      <command
            id="xstampp.command.redo"
            name="Redo">
      </command>
      <command
            id="xstampp.command.openProjectSettings"
            name="%command.name.openProjectSettings">
         <commandParameter
               id="xstampp.commandParameter.project.settings"
               name="project.settings"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="xstampp.command.project.closeProjectEditors"
            name="Close project editors">
      </command>
   </extension>
   
<!-- WELCOME-PAGE Author: Jaqueline Patzek -->
   
<extension
      point="org.eclipse.ui.bindings">
   <scheme
         id="bindingscheme"
         name="bindingscheme">
   </scheme>
   <key
         commandId="xstampp.command.load"
         schemeId="bindingscheme"
         sequence="M1+O">
   </key>
   <key
         commandId="astpa.exit"
         schemeId="bindingscheme"
         sequence="M1+W">
   </key>
   <key
         commandId="astpa.save"
         schemeId="bindingscheme"
         sequence="M1+S">
   </key>
   <key
         commandId="astpa.saveas"
         schemeId="bindingscheme"
         sequence="M1+M2+S">
   </key>
   <key
         commandId="astpa.exit"
         schemeId="bindingscheme"
         sequence="M1+Q">
   </key>
   <key
         commandId="org.eclipse.ui.file.export"
         schemeId="bindingscheme"
         sequence="M1+E">
   </key>
   <key
         commandId="astpa.commands.expandAll"
         contextId="xstampp.navigation.context"
         schemeId="bindingscheme"
         sequence="ARROW_LEFT">
      <parameter
            id="xstampp.expand"
            value="False">
      </parameter>
   </key>
   <key
         commandId="astpa.commands.expandAll"
         contextId="xstampp.navigation.context"
         schemeId="bindingscheme"
         sequence="ARROW_RIGHT">
      <parameter
            id="xstampp.expand"
            value="True">
      </parameter>
   </key>
   <key
         commandId="astpa.command.openStep"
         contextId="xstampp.navigation.context"
         schemeId="bindingscheme"
         sequence="CR">
   </key>
   <key
         commandId="org.eclipse.ui.window.nextView"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="bindingscheme"
         sequence="M1+F7">
   </key>
   <key
         commandId="org.eclipse.ui.window.nextEditor"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="bindingscheme"
         sequence="M1+F6">
   </key>
   <key
         commandId="org.eclipse.ui.window.previousEditor"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="bindingscheme"
         sequence="M1+Shift+F6">
   </key>
   <key
         commandId="org.eclipse.ui.window.previousView"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="bindingscheme"
         sequence="M1+SHIFT+F7">
   </key>
   <key
         commandId="org.eclipse.ui.window.switchToEditor"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="bindingscheme"
         sequence="M1+SHIFT+E">
   </key>
   <key
         commandId="xstampp.ui.commands.selectAll"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="bindingscheme"
         sequence="M1+A">
   </key>
   <key
         commandId="xstampp.command.undo"
         schemeId="bindingscheme"
         sequence="M1+Z">
   </key>
   <key
         commandId="xstampp.command.redo"
         schemeId="bindingscheme"
         sequence="M1+Y">
   </key>
</extension>
<extension point="org.eclipse.ui.preferencePages">
   <page
         class="xstampp.preferences.PreferencePageColorAndFont"
         id="astpa.preferencePageColors"
         name="%page.name.explorer">
   </page>
   <page
         class="xstampp.preferences.PreferencePageExport"
         id="astpa.preferencePageExport"
         name="%page.name.export">
   </page>
   <page
         class="xstampp.preferences.PreferencePageUpdate"
         id="astpa.preferencePageUpdate"
         name="%page.name.update">
   </page>
</extension>
<extension
      point="org.eclipse.ui.commandImages">
   <image
         commandId="astpa.save"
         icon="icons/eclipse/save_edit.gif">
   </image>
   <image
         commandId="xstampp.saveall"
         icon="icons/eclipse/saveall_edit.gif">
   </image>
   <image
         commandId="xstampp.command.openWizard"
         icon="icons/eclipse/export_wiz.gif">
   </image>
   <image
         commandId="astpa.commands.rename"
         icon="icons/eclipse/rename.png">
   </image>
   <image
         commandId="xstampp.command.undo"
         icon="icons/eclipse/undo_edit.gif">
   </image>
   <image
         commandId="xstampp.command.redo"
         icon="icons/eclipse/redo_edit.gif">
   </image>
</extension>
<extension
      point="org.eclipse.help.toc">
   <toc
         file="toc.xml"
         primary="true">
   </toc>
</extension>
<extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension
         targetID="xstampp.defaultPerspective">
      <perspectiveShortcut
            id="stpaVerifier.perspective">
      </perspectiveShortcut>
   </perspectiveExtension>
</extension>
<extension
      point="org.eclipse.ui.contexts">
   <context
         id="xstampp.navigation.context"
         name="navigation context">
   </context>
</extension>
<extension
      point="org.eclipse.ui.commandImages">
   <image
         commandId="xstampp.command.openWizard"
         icon="icons/eclipse/run_exc.gif">
   </image>
</extension>
<extension
      point="org.eclipse.ui.activities">
   <activity
         id="activity.eclipseUpdateManager"
         name="Eclipse Update Manager">
   </activity>
   <activityPatternBinding
         activityId="activity.eclipseUpdateManager"
         pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoLastEditPosition">
   </activityPatternBinding>
   <activityPatternBinding
         activityId="activity.eclipseUpdateManager"
         pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoNextAnnotation">
   </activityPatternBinding>
   <activityPatternBinding
         activityId="activity.eclipseUpdateManager"
         pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoPreviousAnnotation">
   </activityPatternBinding>
</extension>
<extension
      id="xstampp_for_STPA"
      point="org.eclipse.core.runtime.products">
   <product
         application="xstampp.application"
         name="STAMP For STPA Platform">
      <property
            name="windowImages"
            value="icons/xstampp/logox16.png,icons/xstampp/logox32.png,icons/xstampp/logox48.png,icons/xstampp/logox64.png,icons/xstampp/logox128.png">
      </property>
      <property
            name="aboutText"
            value="XSTAMPP - An eXtensible STAMP Platform for Safety Engineering&#x0A;		 including only the A-STPA Plugin to perform a STPA Analysis &#x0A;&#x0A;©2014 - 2017&#x0A;http://www.iste.uni-stuttgart.de/se/werkzeuge/xstampp.html&#x0A;&#x0A;Lukas Balzer, Asim Abdulkhaleq, Stefan Wagner&#x0A;Institute of Software Technology, Software Engineering Group&#x0A;University of Stuttgart, Germany&#x0A;&#x0A;X-STPA &#x0A;http://www.iste.uni-stuttgart.de/se/werkzeuge/xstpa.html&#x0A;&#x0A;A-CAST&#x0A;http://www.iste.uni-stuttgart.de/se/werkzeuge/a-cast.html">
      </property>
      <property
            name="aboutImage"
            value="icons/xstampp/logox128.png">
      </property>
      <property
            name="startupProgressRect"
            value="2,275,445,15">
      </property>
      <property
            name="appName"
            value="STAMP For STPA Platform">
      </property>
      <property
            name="preferenceCustomization"
            value="plugin_customization.ini">
      </property>
   </product>
</extension>






</plugin>
