<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/xstampp/logo_small.png">
         <run
               class="xstampp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="xstampp_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="xstampp.application"
            name="STAMP Platform">
         <property
               name="appName"
               value="STAMP Platform">
         </property>
         <property
               name="startupProgressRect"
               value="2,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
        </property>
  <property
        name="windowImages"
        value="icons/xstampp/logox16.png,icons/xstampp/logox32.png,icons/xstampp/logox48.png,icons/xstampp/logox64.png,icons/xstampp/logox128.png">
  </property>
  <property
        name="aboutImage"
        value="icons/branding/xstampp/logo.png">
  </property>
  <property
        name="aboutText"
        value="XSTAMPP - An eXtensible STAMP Platform for Safety Engineering&#x0A;&#x0A;©2014 - 2015&#x0A;&#x0A;Lukas Balzer, Asim Abdulkhaleq, Stefan Wagner&#x0A;Institute of Software Technology, Software Engineering Group&#x0A;University of Stuttgart, Gremany&#x0A;&#x0A;- &#x0A;&#x0A;A-STPA&#x0A;&#x0A;StuPro 2013 - 2014&#x0A;&#x0A;Development-Team: Adam Grahovac, Aleksander Zotov, Aliaksei Babkovich, Benedikt Markt, Fabian Toth, Jarkko Heidenwag, Jaqueline Patzek, Lukas Balzer, Patrick Wickenhäuser, Sebastian Sieber">
  </property>
      	</product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="xstampp.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="xstampp.Perspective"
            fixed="false"
            id="astpa.welcome.perspective"
            name="Welcome perspective">
      </perspective>
      <perspective
            class="xstampp.ASTPAPerspective"
            fixed="false"
            id="astpa.astpaPerspective"
            name="Project Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="xstampp.ui.welcome.WelcomeView"
            id="astpa.Welcome"
            name="Welcome"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="xstampp.ui.navigation.ProjectExplorer"
            fastViewWidthRatio="0.2f"
            id="astpa.explorer"
            name="Project Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         name="window"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="Create New Project"
                  style="push"
                  tooltip="Create a new STPA Project">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="xstampp.command.load"
                  label="Import Project..."
                  style="push"
                  tooltip="Imports the project file">
            </command>
            <separator
                  name="Separator 1"
                  visible="true">
            </separator>
            <command
                  commandId="astpa.save"
                  style="push">
            </command>
            <command
                  commandId="xstampp.saveall"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export..."
                  style="push">
            </command>
            <separator
                  name="Separator 2"
                  visible="true">
            </separator>
            <command
                  commandId="astpa.switchworkspace"
                  label="Switch Workspace"
                  style="push"
                  tooltip="Restarts the Platform with the choose workspace dialog">
            </command>
            <command
                  commandId="astpa.exit"
                  label="Exit Application"
                  style="push"
                  tooltip="Exits the application">
            </command>
         </menu>
         <menu
               id="editMenu"
               label="Edit">
            <command
                  commandId="astpa.preferencepage"
                  helpContextId="Opens the preference page"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               id="helpMenu"
               label="Help">
            <command
                  commandId="Welcome"
                  style="push"
                  tooltip="Shows the welcome page">
            </command>
            <command
            
            commandId="org.eclipse.ui.help.aboutAction" 
			icon="icons/xstampp/logox16.png" 
			id="x.ex.about" 
			style="push" 
			tooltip="Shows the about dialog">
            </command>
            <command
                  commandId="astpa.update"
                  label="Update"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="xstampp.main.toolbar">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
            </command>
            <command
                  commandId="astpa.save"
                  style="push">
            </command>
            <command
                  commandId="xstampp.saveall"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:astpa.explorer">
         <command
               commandId="astpa.command.openStep"
               label="Open"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <instanceof
                        value="xstampp.ui.navigation.StepSelector">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="astpa.commands.rename"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <instanceof
                        value="xstampp.ui.navigation.ProjectSelector">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="astpa.save"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <instanceof
                        value="astpa.ui.navigation.IProjectSelection">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="astpa.commands.delete"
               icon="icons/eclipse/delete_obj.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <instanceof
                        value="xstampp.ui.navigation.ProjectSelector">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               style="push">
         </command>
         <command
               commandId="astpa.commands.expandAll"
               icon="icons/eclipse/collapseall2.gif"
               label="collapse all"
               style="push">
            <parameter
                  name="xstampp.expand"
                  value="False">
            </parameter>
         </command>
         <command
               commandId="astpa.commands.expandAll"
               icon="icons/eclipse/expandall.gif"
               label="expand all"
               style="push">
            <parameter
                  name="xstampp.expand"
                  value="True">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:astpa.explorer">
         <command
               commandId="astpa.commands.expandAll"
               icon="icons/eclipse/collapseall2.gif"
               label="collapse all"
               style="push">
            <parameter
                  name="xstampp.expand"
                  value="FALSE">
            </parameter>
         </command>
         <command
               commandId="astpa.commands.expandAll"
               icon="icons/eclipse/expandall.gif"
               label="expand all"
               style="push">
            <parameter
                  name="xstampp.expand"
                  value="TRUE">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="xstampp.ui.menu.file.commands.CommandState">
         <variable
               name="xstampp.ui.menu.file.commands.savestate"
               priorityLevel="workbench">
         </variable>
         <variable
               name="xstampp.ui.menu.file.commands.textstate"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="xstampp.ui.menu.file.commands.Save"
            commandId="astpa.save">
         <enabledWhen>
            <with
                  variable="xstampp.ui.menu.file.commands.savestate">
               <equals
                     value="ENABLED">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="xstampp.ui.menu.file.commands.SaveAs"
            commandId="astpa.saveas">
         <enabledWhen>
            <with
                  variable="xstampp.ui.menu.file.commands.savestate">
               <equals
                     value="ENABLED">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="xstampp.ui.menu.file.commands.SaveAll"
            commandId="astpa.saveall">
         <enabledWhen>
            <with
                  variable="xstampp.ui.menu.file.commands.savestate">
               <equals
                     value="ENABLED">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="xstampp.ui.editors.commands.StyleHandler"
            commandId="xstampp.command.style">
         <enabledWhen>
            <with
                  variable="xstampp.ui.menu.file.commands.textstate">
               <equals
                     value="ENABLED">
               </equals>
            </with>
         </enabledWhen>
      </handler>ler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="xstampp.ui.menu.file.commands.ExitApplication"
            id="astpa.exit"
            name="Exit Application">
      </command>
      <command
            id="astpa.saveas"
            name="Save As...">
         <commandParameter
               id="saveAsProjectId"
               name="projectId"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="astpa.exportas"
            name="Export As...">
      </command>
      <command
            id="astpa.save"
            name="Save">
         <commandParameter
               id="saveProjectId"
               name="projectId"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.Import"
            id="xstampp.command.load"
            name="Import">
         <commandParameter
               id="loadRecentProject"
               name="recentProject"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.Welcome"
            id="Welcome"
            name="Welcome">
      </command>
      <command
            defaultHandler="xstampp.update.UpdateHandler"
            id="astpa.update"
            name="Update">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.AboutHandler"
            id="astpa.about"
            name="About">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.Preferences"
            id="astpa.preferencepage"
            name="Preferences">
      </command>
      <command
            id="astpa.ExportUCATable"
            name="export Table">
      </command>
      <command defaultHandler="xstampp.ui.menu.file.commands.SwitchWorkspaceCommand"
            id="astpa.switchworkspace"
            name="Switch Workspace">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.Delete"
            id="astpa.commands.delete"
            name="Delete">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.RenameCommand"
            id="astpa.commands.rename"
            name="Rename Project...">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.ExpandHandler"
            id="astpa.commands.expandAll"
            name="Expand All">
         <commandParameter
               id="xstampp.expand"
               name="expand"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.ToWorkbenchHandler"
            id="astpa.commands.toWorkbench"
            name="To Workbench">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.OpenStepEditor"
            id="astpa.command.openStep"
            name="Open ">
      </command>
      <command
            id="xstampp.saveall"
            name="Save All">
      </command>
      <command
            defaultHandler="xstampp.ui.menu.file.commands.OpenWizardHandler"
            id="xstampp.command.openWizard"
            name="open wizard">
         <commandParameter
               id="xstampp.commandParameter.openwizard"
               name="wizard"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="xstampp.command.style"
            name="Apply Style">
         <commandParameter
               id="xstampp.commandParameter.style"
               name="style"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.editors.commands.FontChooserHandle"
            id="xstampp.command.choosefont"
            name="choose Font">
         <commandParameter
               id="xstampp.commandParameter.fontfamily"
               name="name"
               optional="true">
         </commandParameter>
         <commandParameter
               id="xstampp.commandParameter.fontsize"
               name="Choose the font size"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.editors.commands.ColorChooseHandle"
            id="xstampp.command.choosecolor"
            name="Choose a color">
         <commandParameter
               id="xstampp.commandParameter.color.type"
               name="name"
               optional="false">
         </commandParameter>
         <commandParameter
               id="xstampp.commandParameter.color.red"
               name="name"
               optional="true">
         </commandParameter>
         <commandParameter
               id="xstampp.commandParametercolor.green"
               name="name"
               optional="true">
         </commandParameter>
         <commandParameter
               id="xstampp.commandParameter.color.blue"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.editors.commands.TextBaselineHandler"
            id="xstampp.command.baseline"
            name="set baseline">
         <commandParameter
               id="xstampp.commandParameter.baseline"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="xstampp.ui.editors.commands.BulletListHandler"
            id="xstampp.command.addbulletlist"
            name="ad a bullet list">
         <commandParameter
               id="xstampp.commandParameter.bulletlist"
               name="name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   
<!-- WELCOME-PAGE Author: Jaqueline Patzek -->
   
<extension
      point="org.eclipse.ui.bindings">
   <scheme
         id="bindingscheme"
         name="bindingscheme">
   </scheme>
   <key
         commandId="xstampp.command.load"
         schemeId="bindingscheme"
         sequence="M1+O">
   </key>
   <key
         commandId="astpa.exit"
         schemeId="bindingscheme"
         sequence="M1+W">
   </key>
   <key
         commandId="astpa.save"
         schemeId="bindingscheme"
         sequence="M1+S">
   </key>
   <key
         commandId="astpa.saveas"
         schemeId="bindingscheme"
         sequence="M1+M2+S">
   </key>
   <key
         commandId="astpa.exit"
         schemeId="bindingscheme"
         sequence="M1+Q">
   </key>
   <key
         commandId="org.eclipse.ui.file.export"
         schemeId="bindingscheme"
         sequence="M1+E">
   </key>
   <key
         commandId="astpa.commands.expandAll"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="bindingscheme"
         sequence="ARROW_LEFT">
      <parameter
            id="xstampp.expand"
            value="Flase">
      </parameter>
   </key>
   <key
         commandId="astpa.commands.expandAll"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="bindingscheme"
         sequence="ARROW_RIGHT">
      <parameter
            id="xstampp.expand"
            value="True">
      </parameter>
   </key>
</extension>
<extension point="org.eclipse.ui.preferencePages">
   <page
         class="astpa.preferences.PreferencePageColorAndFont"
         id="astpa.preferencePageColors"
         name="Colors and Fonts">
   </page>
   <page
         class="astpa.preferences.PreferencePageExport"
         id="astpa.preferencePageExport"
         name="Export">
   </page>
   <page
         class="astpa.preferences.PreferencePageUpdate"
         id="astpa.preferencePageUpdate"
         name="Update">
   </page>
   <page
         class="org.eclipse.ui.internal.ide.dialogs.IDEWorkspacePreferencePage"
         id="org.eclipse.ui.preferencePages.Startup.Workspaces"
         name="name">
   </page>
</extension>
<extension
      point="org.eclipse.ui.commandImages">
   <image
         commandId="astpa.save"
         icon="icons/eclipse/save_edit.gif">
   </image>
   <image
         commandId="xstampp.saveall"
         icon="icons/eclipse/saveall_edit.gif">
   </image>
   <image
         commandId="xstampp.command.openWizard"
         icon="icons/eclipse/export_wiz.gif">
   </image>
</extension>
<extension
      point="org.eclipse.help.toc">
   <toc
         file="toc.xml"
         primary="true">
   </toc>
   <toc
         file="tocgettingstarted.xml">
   </toc>
</extension>






</plugin>
