<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="acast.ui.acchaz.HazardsView"
            default="false"
            icon="icons/buttons/navigation/Toxic_sign_16.png"
            id="acast.steps.step1_2_1"
            name="Related Hazards">
      </editor>
      <editor
            class="acast.ui.sds.SafetyConstraintView"
            default="false"
            icon="icons/buttons/navigation/Protection_shield_with_a_check_mark_16.png"
            id="acast.steps.step1_2_2"
            name="System Safety Contraints">
      </editor>
      <editor
            class="acast.ui.accidentDescription.AccidentDescriptionView"
            default="false"
            icon="icons/buttons/navigation/Car_collision_16.png"
            id="acast.steps.step1_1"
            name="AccidentView">
      </editor>
      <editor
            class="acast.ui.accidentDescription.ProximalEventsView"
            default="false"
            icon="icons/buttons/navigation/calendar_clock_16.png"
            id="acast.steps.step1_3"
            name="Proximal Events">
      </editor>
      <editor
            class="acast.ui.accidentDescription.AccidentImageView"
            default="false"
            icon="icons/buttons/navigation/picture.png"
            id="acast.steps.step1_1_image"
            name="AccidentImageView">
      </editor>
      <editor
            class="acast.model.CSEditorCAST"
            default="false"
            icon="icons/buttons/navigation/Site_Map_16.png"
            id="acast.steps.step2_1"
            name="Controlstructure">
      </editor>
      <editor
            class="acast.ui.accidentDescription.RecommandationsView"
            default="false"
            icon="icons/buttons/navigation/Search_in_document_16.png"
            id="acast.steps.step3_1"
            name="Findings and Recommendations">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="acast"
            name="CAST Projects">
      </category>
      <wizard
            category="acast"
            class="acast.wizards.NewProjectWizard"
            icon="icons/A-CAST-icon16.png"
            id="cast.wizards.NewProjectWizard"
            name="CAST Project">
      </wizard>
   </extension>

   <extension
         point="xstampp.extension.steppedProcess">
      <process
            command="acast.command.load"
            extension="acc"
            icon="icons/A-CAST-icon16.png"
            id="cast.navigation.process"
            name="CAST Project"
            newWizard="cast.wizards.NewProjectWizard"
            runCommand="xstampp.acast.commands.run">
         <category
               icon="icons/buttons/navigation/Number_one_in_a_circle_16(1).png"
               id="acast.category1"
               name="Fundamentals of Analysis">
            <step
                  editorId="acast.steps.step1_1"
                  icon="icons/buttons/navigation/Car_collision_16.png"
                  id="acast.navigation.step1_1"
                  name="Accident Description">
            </step>
            <category
                  icon="icons/buttons/navigation/Consulting_Message_16.png"
                  id="acast.category1_2"
                  name="System Description">
               <step
                     editorId="acast.steps.step1_2_1"
                     icon="icons/buttons/navigation/Toxic_sign_16.png"
                     id="acast.navigation.step1_2_1"
                     name="Related Hazards">
               </step>
               <step
                     editorId="acast.steps.step1_2_2"
                     icon="icons/buttons/navigation/Protection_shield_with_a_check_mark_16.png"
                     id="acast.navigation.step1_2_2"
                     name="System Safety Constraints">
               </step>
            </category>
            <step
                  editorId="acast.steps.step1_3"
                  icon="icons/buttons/navigation/calendar_clock_16.png"
                  id="acast.navigation.step1_3"
                  name="Proximal Events">
            </step>
         </category>
         <category
               icon="icons/buttons/navigation/Number_two_in_a_circle_16(1).png"
               id="acast.category2"
               name="Document the Safety Control Structure">
            <step
                  editorId="acast.steps.step2_1"
                  icon="icons/buttons/navigation/Site_Map_16.png"
                  id="acast.navigation.step2_1"
                  name="Control Structure Diagram">
            </step>
         </category>
         <category
               icon="icons/buttons/navigation/Number_three_in_a_circle_16(1).png"
               id="acast.category3"
               name="Accident Analysis">
            <step
                  editorId="acast.steps.step3_1"
                  icon="icons/buttons/navigation/Search_in_document_16.png"
                  id="acast.navigation.step3_1"
                  name="Findings and Recommendations">
            </step>
         </category>
      </process>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="acast.commands.NewProject"
            id="cast.commands.new"
            name="New Project">
         <commandParameter
               id="acast.new.name"
               name="name-parameter"
               optional="true">
         </commandParameter>
         <commandParameter
               id="acast.new.path"
               name="path-parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="acast.commands.Load"
            id="acast.command.load"
            name="Load">
      </command>
      <command
            defaultHandler="acast.commands.RunCommand"
            id="xstampp.acast.commands.run"
            name="Run">
      </command>
      <command
            defaultHandler="acast.util.OpenNewTool"
            id="xstampp.acast.cseditor.changeTool"
            name="Switch Tool">
         <commandParameter
               id="xstampp.acast.cseditor.toolconstant"
               name="name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="acast.ui.accidentDescription.TableView"
            icon="icons/buttons/navigation/Verification_of_delivery_list_clipboard_symbol_16.png"
            id="A-CAST.view1"
            name="Roles and Responsibilities"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="acast.model.controlstructure.PerspectiveFactory"
            id="A-CAST.perspective1"
            name="name">
      </perspective>
   </extension>
   <extension
         name="CSV Export"
         point="org.eclipse.ui.exportWizards">
      <category
            id="xstampp.acast.category-csv"
            name="CAST CSV Export">
      </category>
      <wizard
            category="xstampp.acast.category-csv"
            class="acast.export.csv.AccidentDescriptionCSVWizard"
            icon="icons/buttons/navigation/Car_collision_16.png"
            id="xstampp.acast.csv-accidentDescription"
            name="Accident Description">
      </wizard>
      <wizard
            category="xstampp.acast.category-csv"
            class="acast.export.csv.HazardExportCSVWizard"
            icon="icons/buttons/navigation/Toxic_sign_16.png"
            id="xstampp.acast.csv-hazards"
            name="Hazards">
      </wizard>
      <wizard
            category="xstampp.acast.category-csv"
            class="acast.export.csv.SafetyConstraintsCSVWizard"
            icon="icons/buttons/navigation/Protection_shield_with_a_check_mark_16.png"
            id="xstampp.acast.csv-safetyConstraints"
            name="Safety Constraints">
      </wizard>
      <wizard
            category="xstampp.acast.category-csv"
            class="acast.export.csv.ProximalEventsCSVWizard"
            icon="icons/buttons/navigation/calendar_clock_16.png"
            id="xstampp.acast.csv-proximalEvents"
            name="Proximal Events">
      </wizard>
      <wizard
            category="xstampp.acast.category-csv"
            class="acast.export.csv.ResponsibilitiesCSVWizard"
            icon="icons/buttons/navigation/Verification_of_delivery_list_clipboard_symbol_16.png"
            id="xstampp.acast.csv-responsibilities"
            name="Roles and Responsibilities">
      </wizard>
      <wizard
            category="xstampp.acast.category-csv"
            class="acast.export.csv.RecommendationsCSVWizard"
            icon="icons/buttons/navigation/Search_in_document_16.png"
            id="xstampp.acast.csv-recommendations"
            name="Findings and Recommendations">
      </wizard>
      <wizard
            category="xstampp.acast.category-csv"
            class="acast.export.csv.AllCSVDataWizard"
            icon="icons/A-CAST-icon16.png"
            id="xstampp.acast.csv-all"
            name="All Data">
      </wizard>
   </extension>
   <extension
         name="Image Export"
         point="org.eclipse.ui.exportWizards">
      <category
            id="xstampp.acast.category-image"
            name="CAST Image Export">
      </category>
      <wizard
            category="xstampp.acast.category-image"
            class="acast.export.images.AccidentDescriptionIMGWizard"
            icon="icons/buttons/navigation/Car_collision_16.png"
            id="xstampp.acast.img-accidentDescription"
            name="Accident Description">
      </wizard>
      <wizard
            category="xstampp.acast.category-image"
            class="acast.export.images.HazardExportIMGWizard"
            icon="icons/buttons/navigation/Toxic_sign_16.png"
            id="xstampp.acast.img-hazards"
            name="Hazards">
      </wizard>
      <wizard
            category="xstampp.acast.category-image"
            class="acast.export.images.SafetyConstraintsIMGWizard"
            icon="icons/buttons/navigation/Protection_shield_with_a_check_mark_16.png"
            id="xstampp.acast.img-safetyConstraints"
            name="Safety Constraints">
      </wizard>
      <wizard
            category="xstampp.acast.category-image"
            class="acast.export.images.ProximalEventsIMGWizard"
            icon="icons/buttons/navigation/calendar_clock_16.png"
            id="xstampp.acast.img-proximalEvents"
            name="Proximal Events">
      </wizard>
      <wizard
            category="xstampp.acast.category-image"
            class="acast.export.images.ResponsibilitiesIMGWizard"
            icon="icons/buttons/navigation/Verification_of_delivery_list_clipboard_symbol_16.png"
            id="xstampp.acast.img-responsibilities"
            name="Roles and Responsibilities">
      </wizard>
      <wizard
            category="xstampp.acast.category-image"
            class="acast.export.images.RecommendationsIMGWizard"
            icon="icons/buttons/navigation/Search_in_document_16.png"
            id="xstampp.acast.img-recommendations"
            name="Findings and Recommendations">
      </wizard>
      <wizard
            category="xstampp.acast.category-image"
            class="acast.export.images.ControlStructureWizard"
            icon="icons/buttons/navigation/Site_Map_16.png"
            id="xstampp.acast.img-controlstructure"
            name="Control Structure">
      </wizard>
   </extension>
   <extension
         name="PDF Export"
         point="org.eclipse.ui.exportWizards">
      <category
            id="xstampp.acast.category-pdf"
            name="CAST PDF Export">
      </category>
      <wizard
            category="xstampp.acast.category-pdf"
            class="acast.export.pdf.AccidentDescriptionPDFWizard"
            icon="icons/buttons/navigation/Car_collision_16.png"
            id="xstampp.acast.pdf-accidentDescription"
            name="Accident Description">
      </wizard>
      <wizard
            category="xstampp.acast.category-pdf"
            class="acast.export.pdf.HazardExportPDFWizard"
            icon="icons/buttons/navigation/Toxic_sign_16.png"
            id="xstampp.acast.pdf-hazards"
            name="Hazards">
      </wizard>
      <wizard
            category="xstampp.acast.category-pdf"
            class="acast.export.pdf.SafetyConstraintsPDFWizard"
            icon="icons/buttons/navigation/Protection_shield_with_a_check_mark_16.png"
            id="xstampp.acast.pdf-safetyConstraints"
            name="Safety Constraints">
      </wizard>
      <wizard
            category="xstampp.acast.category-pdf"
            class="acast.export.pdf.ProximalEventsPDFWizard"
            icon="icons/buttons/navigation/calendar_clock_16.png"
            id="xstampp.acast.pdf-proximalEvents"
            name="Proximal Events">
      </wizard>
      <wizard
            category="xstampp.acast.category-pdf"
            class="acast.export.pdf.ResponsibilitiesPDFWizard"
            icon="icons/buttons/navigation/Verification_of_delivery_list_clipboard_symbol_16.png"
            id="xstampp.acast.pdf-responsibilities"
            name="Roles and Responsibilities">
      </wizard>
      <wizard
            category="xstampp.acast.category-pdf"
            class="acast.export.pdf.RecommendationsPDFWizard"
            icon="icons/buttons/navigation/Search_in_document_16.png"
            id="xstampp.acast.pdf-recommendations"
            name="Findings and Recommendations">
      </wizard>
      <wizard
            category="xstampp.acast.category-pdf"
            class="acast.export.pdf.ReportPDFWizard"
            icon="icons/A-CAST-icon16.png"
            id="xstampp.acast.pdf-finalReport"
            name="Report (All Data)">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="acast.util.CSConnectionModeProviderCAST">
         <variable
               name="xstampp.acast.connectionMode"
               priorityLevel="workbench">
         </variable>
         <variable
               name="xstampp.acast.ProcessModelBorder"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="xstampp.acast.cseditor.changeTool"
            contextId="acastContextID"
            schemeId="bindingscheme"
            sequence="M1+1">
         <parameter
               id="xstampp.acast.cseditor.toolconstant"
               value="SELECT">
         </parameter>
      </key>
      <key
            commandId="xstampp.acast.cseditor.changeTool"
            contextId="acastContextID"
            schemeId="bindingscheme"
            sequence="M1+2">
         <parameter
               id="xstampp.acast.cseditor.toolconstant"
               value="MARQUEE">
         </parameter>
      </key>
      <key
            commandId="xstampp.acast.cseditor.changeTool"
            contextId="acastContextID"
            schemeId="bindingscheme"
            sequence="M1+3">
         <parameter
               id="xstampp.acast.cseditor.toolconstant"
               value="CONTROLLER">
         </parameter>
      </key>
      <key
            commandId="xstampp.acast.cseditor.changeTool"
            contextId="acastContextID"
            schemeId="bindingscheme"
            sequence="M1+4">
         <parameter
               id="xstampp.acast.cseditor.toolconstant"
               value="ACTUATOR">
         </parameter>
      </key>
      <key
            commandId="xstampp.acast.cseditor.changeTool"
            contextId="acastContextID"
            schemeId="bindingscheme"
            sequence="M1+5">
         <parameter
               id="xstampp.acast.cseditor.toolconstant"
               value="CONTROLLED_PROCESS">
         </parameter>
      </key>
      <key
            commandId="xstampp.acast.cseditor.changeTool"
            contextId="acastContextID"
            schemeId="bindingscheme"
            sequence="M1+6">
         <parameter
               id="xstampp.acast.cseditor.toolconstant"
               value="SENSOR">
         </parameter>
      </key>
      <key
            commandId="xstampp.acast.cseditor.changeTool"
            contextId="acastContextID"
            schemeId="bindingscheme"
            sequence="M1+7">
         <parameter
               id="xstampp.acast.cseditor.toolconstant"
               value="CONTROLACTION">
         </parameter>
      </key>
      <key
            commandId="xstampp.acast.cseditor.changeTool"
            contextId="acastContextID"
            schemeId="bindingscheme"
            sequence="M1+8">
         <parameter
               id="xstampp.acast.cseditor.toolconstant"
               value="ARROW_SIMPLE">
         </parameter>
      </key>
      <key
            commandId="xstampp.acast.cseditor.changeTool"
            contextId="acastContextID"
            schemeId="bindingscheme"
            sequence="M1+9">
         <parameter
               id="xstampp.acast.cseditor.toolconstant"
               value="TEXTFIELD">
         </parameter>
      </key>
      <key
            commandId="xstampp.acast.cseditor.changeTool"
            contextId="acastContextID"
            schemeId="bindingscheme"
            sequence="M1+0">
         <parameter
               id="xstampp.acast.cseditor.toolconstant"
               value="DASHEDBOX">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="acast.preferences.CastPreferenceInitializor">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:acast.steps.step2_1">
         <command
               commandId="xstampp.acast.cseditor.changeTool"
               label="Select"
               style="push">
            <parameter
                  name="xstampp.acast.cseditor.toolconstant"
                  value="SELECT">
            </parameter>
         </command>
         <menu
               label="Connections">
            <command
                  commandId="xstampp.acast.cseditor.changeTool"
                  icon="icons/buttons/controlstructure/arrow_simple_16.png"
                  label="new Connection.."
                  style="push">
               <parameter
                     name="xstampp.acast.cseditor.toolconstant"
                     value="ARROW_SIMPLE">
               </parameter>
            </command>
            <command
                  commandId="xstampp.acast.cseditor.changeTool"
                  icon="icons/buttons/controlstructure/arrow_dashed_16.png"
                  label="new dashed Connection.."
                  style="push">
               <parameter
                     name="xstampp.acast.cseditor.toolconstant"
                     value="ARROW_DASHED">
               </parameter>
            </command>
         </menu>
         <menu
               label="Components">
            <command
                  commandId="xstampp.acast.cseditor.changeTool"
                  icon="icons/buttons/controlstructure/controller_16.png"
                  label="Controller"
                  style="push">
               <parameter
                     name="xstampp.acast.cseditor.toolconstant"
                     value="CONTROLLER">
               </parameter>
            </command>
            <command
                  commandId="xstampp.acast.cseditor.changeTool"
                  icon="icons/buttons/controlstructure/actuator_16.png"
                  label="Actuator"
                  style="push">
               <parameter
                     name="xstampp.acast.cseditor.toolconstant"
                     value="ACTUATOR">
               </parameter>
            </command>
            <command
                  commandId="xstampp.acast.cseditor.changeTool"
                  icon="icons/buttons/controlstructure/process_16.png"
                  label="Controlled Process"
                  style="push">
               <parameter
                     name="xstampp.acast.cseditor.toolconstant"
                     value="CONTROLLED_PROCESS">
               </parameter>
            </command>
            <command
                  commandId="xstampp.acast.cseditor.changeTool"
                  icon="icons/buttons/controlstructure/sensor_16.png"
                  label="Sensor"
                  style="push">
               <parameter
                     name="xstampp.acast.cseditor.toolconstant"
                     value="SENSOR">
               </parameter>
            </command>
            <command
                  commandId="xstampp.acast.cseditor.changeTool"
                  icon="icons/buttons/controlstructure/ControlAction_16.png"
                  label="Control Action"
                  style="push">
               <parameter
                     name="xstampp.acast.cseditor.toolconstant"
                     value="CONTROLACTION">
               </parameter>
            </command>
            <command
                  commandId="xstampp.acast.cseditor.changeTool"
                  icon="icons/buttons/controlstructure/text_box_16.png"
                  label="Text Box"
                  style="push">
               <parameter
                     name="xstampp.acast.cseditor.toolconstant"
                     value="TEXTFIELD">
               </parameter>
            </command>
            <command
                  commandId="xstampp.acast.cseditor.changeTool"
                  icon="icons/buttons/controlstructure/dashed_box_16.png"
                  label="Dashed Box"
                  style="push">
               <parameter
                     name="xstampp.acast.cseditor.toolconstant"
                     value="DASHEDBOX">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="acastContextID"
            name="name">
      </context>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocusingacast.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
