<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="astpa.Application">
         </run>
      </application>
   </extension>
   <extension
         id="astpa_product_id"
         point="org.eclipse.core.runtime.products">
      <product
            application="astpa.application"
            name="A-STPA">
         <property
               name="appName"
               value="A-STPA">
         </property>
         <property
               name="startupProgressRect"
               value="2,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
        </property>
  <property
        name="windowImages"
        value="icons/branding/i16.png,icons/branding/i32.png,icons/branding/i48.png,icons/branding/i64.png,icons/branding/i128.png">
  </property>
  <property
        name="aboutImage"
        value="icons/Logo.png">
  </property>
  <property
        name="aboutText"
        value="A-STPA&#x0A;&#x0A;StuPro 2013 - 2014&#x0A;&#x0A;Development-Team: Adam Grahovac, Aleksander Zotov, Aliaksei Babkovich, Benedikt Markt, Fabian Toth, Jarkko Heidenwag, Jaqueline Patzek, Lukas Balzer, Patrick Wickenhäuser, Sebastian Sieber">
  </property>
      	</product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="astpa.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="astpa.Perspective"
            id="astpa.perspective"
            name="A-STPA perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="astpa.ui.common.ViewContainer"
            id="astpa.ui.common.viewcontainer"
            name="View Container"
            restorable="true">
      </view>ension
         point="org.eclipse.ui.editors">
   </extension>
   <extension
         name="window"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="astpa.newproject"
                  label="Create New Project"
                  style="push"
                  tooltip="Create a new STPA Project">
            </command>
            <command
                  commandId="astpa.load"
                  label="Load Project..."
                  style="push"
                  tooltip="Load">
            </command>
            <separator
                  name="Separator 1"
                  visible="true">
            </separator>
            <command
                  commandId="astpa.save"
                  label="Save Project"
                  style="push"
                  tooltip="Save file">
            </command>
            <command
                  commandId="astpa.saveas"
                  label="Save Project As..."
                  style="push"
                  tooltip="Save file as...">
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export..."
                  style="push">
            </command>
            <separator
                  name="Separator 2"
                  visible="true">
            </separator>
            <command
                  commandId="astpa.exit"
                  label="Exit Application"
                  style="push"
                  tooltip="Exits the application">
            </command>
         </menu>
         <menu
               id="editMenu"
               label="Edit">
            <command
                  commandId="astpa.preferencepage"
                  helpContextId="Opens the preference page"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               id="helpMenu"
               label="Help">
            <command
                  commandId="Welcome"
                  style="push"
                  tooltip="Shows the welcome page">
            </command>
            <command
            
            commandId="astpa.about" 
			icon="icons/Logo_small.png" 
			id="x.ex.about" 
			style="push" 
			tooltip="Shows the about dialog">
            </command>
            <command
                  commandId="astpa.update"
                  label="Update"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="astpa.ui.menu.file.commands.SaveState">
         <variable
               name="astpa.ui.menu.file.commands.savestate"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="astpa.ui.menu.file.commands.Save"
            commandId="astpa.save">
         <enabledWhen>
            <with
                  variable="astpa.ui.menu.file.commands.savestate">
               <equals
                     value="ENABLED">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="astpa.ui.menu.file.commands.SaveAs"
            commandId="astpa.saveas">
         <enabledWhen>
            <with
                  variable="astpa.ui.menu.file.commands.savestate">
               <equals
                     value="ENABLED">
               </equals>
            </with>
         </enabledWhen>
      </handler>ler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="astpa.ui.menu.file.commands.NewProject"
            id="astpa.newproject"
            name="New Project">
      </command>
      <command
            defaultHandler="astpa.ui.menu.file.commands.ExitApplication"
            id="astpa.exit"
            name="Exit Application">
      </command>
      <command
            id="astpa.saveas"
            name="Save As...">
      </command>
      <command
            id="astpa.exportas"
            name="Export As...">
      </command>
      <command
            id="astpa.save"
            name="Save">
      </command>
      <command
            defaultHandler="astpa.ui.menu.file.commands.Load"
            id="astpa.load"
            name="Load">
      </command>
      <command
            defaultHandler="astpa.ui.menu.file.commands.Welcome"
            id="Welcome"
            name="Welcome">
      </command>
      <command
            defaultHandler="astpa.update.UpdateHandler"
            id="astpa.update"
            name="Update">
      </command>
      <command
            defaultHandler="astpa.ui.menu.file.commands.AboutHandler"
            id="astpa.about"
            name="About">
      </command>
      <command
            defaultHandler="astpa.ui.menu.file.commands.Preferences"
            id="astpa.preferencepage"
            name="Preferences">
      </command>
      <command
            id="astpa.ExportUCATable"
            name="export Table">
      </command>
   </extension>
   
<!-- WELCOME-PAGE Author: Jaqueline Patzek -->
   
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="astpa.newproject"
         schemeId="bindingscheme"
         sequence="M1+N">
   </key>
   <scheme
         id="bindingscheme"
         name="bindingscheme">
   </scheme>
   <key
         commandId="astpa.load"
         schemeId="bindingscheme"
         sequence="M1+O">
   </key>
   <key
         commandId="astpa.exit"
         schemeId="bindingscheme"
         sequence="M1+W">
   </key>
   <key
         commandId="astpa.save"
         schemeId="bindingscheme"
         sequence="M1+S">
   </key>
   <key
         commandId="astpa.saveas"
         schemeId="bindingscheme"
         sequence="M1+M2+S">
   </key>
   <key
         commandId="astpa.exit"
         schemeId="bindingscheme"
         sequence="M1+Q">
   </key>
   <key
         commandId="org.eclipse.ui.file.export"
         schemeId="bindingscheme"
         sequence="M1+E">
   </key>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         class="astpa.preferences.PreferencePageColorAndFont"
         id="astpa.preferencePageColors"
         name="Colors and Fonts">
   </page>
   <page
         class="astpa.preferences.PreferencePageExport"
         id="astpa.preferencePageExport"
         name="Export">
   </page>
   <page
         class="astpa.preferences.PreferencePageUpdate"
         id="astpa.preferencePageUpdate"
         name="Update">
   </page>
</extension>
<extension
      name="Pdf Export Wizard"
      point="org.eclipse.ui.exportWizards">
   <category
         id="astpa.mainCategory"
         name="STPA Report">
   </category>
   <wizard
         category="astpa.mainCategory"
         class="astpa.export.stepImages.PdfExportWizard"
         icon="icons/Logo_small.png"
         id="astpa.wizardExport"
         name="PDF Report">
      <description>
         The whole STPA Analysis in as PDF Report
      </description>
   </wizard>
</extension>
<extension
      id="astpa.export"
      name="Data Sheet"
      point="org.eclipse.ui.exportWizards">
   <category
         id="astpa.stepData"
         name="STPA Data Sheets">
   </category>
   <wizard
         category="astpa.stepData"
         class="astpa.export.stepData.STPAdataWizard"
         icon="icons/Logo_small.png"
         id="astpa.datawizard"
         name=" All STPA Data">
      <description>
         opens a Wizard where you can choose multiple of the provided data sheets to be exported as CSV
      </description>
   </wizard>
   <wizard
         category="astpa.stepData"
         class="astpa.export.stepData.AccidentsWizard"
         icon="icons/buttons/navigation/STEP1_2.png"
         id="astpa.wizard1_2data"
         name="List of Accidents">
      <description>
         The Accidents as data sheet
      </description>
   </wizard>
   <wizard
         category="astpa.stepData"
         class="astpa.export.stepData.HazardsWizard"
         icon="icons/buttons/navigation/STEP1_3.png"
         id="astpa.wizard1_3data"
         name="List of Hazards">
      <description>
         The Hazards as data sheet
      </description>
   </wizard>
   <wizard
         category="astpa.stepData"
         class="astpa.export.stepData.DesignRequirementsWizard"
         icon="icons/buttons/navigation/STEP1_7.png"
         id="astpa.wizard1_7data"
         name="List of Design Requirements">
      <description>
         The Design Requirements as data sheet
      </description>
   </wizard>
   <wizard
         category="astpa.stepData"
         class="astpa.export.stepData.ControlActionsWizard"
         icon="icons/buttons/navigation/STEP2_1.png"
         id="astpa.wizard2_1data"
         name="List of Control Actions">
      <description>
         The Control Actions as data sheet
      </description>
   </wizard>
   <wizard
         category="astpa.stepData"
         class="astpa.export.stepData.CSCWizard"
         icon="icons/buttons/navigation/STEP2_3.png"
         id="astpa.wizard2_3data"
         name="List of Corresponding Safety Constraints">
      <description>
         The corresponding Safety Constrints defined in step two as data sheet
      </description>
   </wizard>
   <wizard
         category="astpa.stepData"
         class="astpa.export.stepData.SafetyConstraintsWizard"
         icon="icons/buttons/navigation/STEP1_5.png"
         id="astpa.wizard1_5data"
         name="List of Safety Constraints">
      <description>
         The Safety Constraint defined in step one as data sheet
      </description>
   </wizard>
   <wizard
         category="astpa.stepData"
         class="astpa.export.stepData.SystemGoalsWizard"
         icon="icons/buttons/navigation/STEP1_6.png"
         id="astpa.wizard1_6data"
         name="List of System Goals">
      <description>
         The System Goals as data sheet
      </description>
   </wizard>
   <wizard
         category="astpa.stepData"
         class="astpa.export.stepData.UnsafeControlActionsDataWizard"
         icon="icons/buttons/navigation/STEP2_2.png"
         id="astpa.wizard2_2data"
         name="Unsafe Control Actions Table">
      <description>
         The Unsafe Control Actions Table data Exported as data sheet
      </description>
   </wizard>
   <wizard
         category="astpa.stepData"
         class="astpa.export.stepData.CausalFactorsDataWizard"
         icon="icons/buttons/navigation/STEP3_2.png"
         id="astpa.wizard3_2data"
         name="Causal Factors Table">
      <description>
         The Causal Factors Table data Exported as data sheet
      </description>
   </wizard>
   <wizard
         category="astpa.stepData"
         class="astpa.export.stepData.SystemDecriptionDataWizard"
         icon="icons/buttons/navigation/STEP1_1.png"
         id="astpa.wizard1_1data"
         name="System Decription">
      <description>
         description body text
      </description>
   </wizard>
</extension>
<extension
      name="imageExports"
      point="org.eclipse.ui.exportWizards">
   <category
         id="astpa.stepImages"
         name="STPA Images">
   </category>
   <wizard
         category="astpa.stepImages"
         class="astpa.export.stepImages.ControlStructureWizard"
         icon="icons/buttons/navigation/STEP1_8.png"
         id="astpa.wizard1_8"
         name="Control Structure">
      <description>
         Export the Control Structure as picture
      </description>
   </wizard>
   <wizard
         category="astpa.stepImages"
         class="astpa.export.stepImages.UCATableExportWizard"
         icon="icons/buttons/navigation/STEP2_2.png"
         id="astpa.wizard2_2"
         name="Unsafe Control Actions Table">
      <description>
         The Unsafe Control Actions Table as single Export , provided as PNG
      </description>
   </wizard>
   <wizard
         category="astpa.stepImages"
         class="astpa.export.stepImages.ControlStructureWithPMWizard"
         icon="icons/buttons/navigation/STEP3_1.png"
         id="astpa.wizard3_1"
         name="ControlStructure With Process Model">
      <description>
         Export the Control Structure with process model as picture
      </description>
   </wizard>
   <wizard
         category="astpa.stepImages"
         class="astpa.export.stepImages.SystemDecriptionWizard"
         icon="icons/buttons/navigation/STEP1_1.png"
         id="astpa.wizard1_1"
         name="System Decription">
      <description>
         Export the description either as picture or as pdf file
      </description>
   </wizard>
   <wizard
         category="astpa.stepImages"
         class="astpa.export.stepImages.CausalFactorsTableWizard"
         icon="icons/buttons/navigation/STEP3_2.png"
         id="astpa.3_2"
         name="Causal Factors Table">
      <description>
         The Causal Factors Table as single Export , provided as PNG
      </description>
   </wizard>
</extension>

</plugin>
