body
{
	font-family: Arial,Helvetica,sans-serif;
}
h1
{
	color:black;
}
h3
{
	color:black;
}
h5
{
	color:black;
}
a{
	color:violet;
}

.footer {
	margin-top: 50px;
	font-size: 9px; 
}

td {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 13px;
}

:target {
	background-color: yellow;
}

.number {
	border:3px solid red;
	background-color:white;
	padding: 0px 3px 0px 3px;
}

tr:nth-child(2n -1) {
	background-color: lightgray;
}

tr.clear {
	background-color: white;
}
img {
    height: auto;
    width: auto\9; /* ie8 */
}

img.full {
    max-width: 70%;
	float:right;
	padding-bottom: 10px;
	padding-left: 10px;
}

.header {
	font-size: 30px;
	text-align: left;
	vertical-align : baseline;
	bottom: 10px;
	min-height: 205px;
	padding-left: 250px;
	margin-bottom: 20px;
	background-image: url('../icons/Logo.png');
	background-repeat:no-repeat;
	background-color:white;
	border-bottom: 1px grey solid;
	position: relative;
}

.headerContent {
	font-size: 30px;
	text-align: left;
	position: absolute;
	bottom: 5px;
}

.headerContent a {
	font-size:15px;
}

body{
	color:black;
}

a {
	color: black;
}
